.portifolio {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 3rem;
    padding-top: 3rem;
    position: relative;
}

.portifolio__conteudo {
    margin-left: 30%;
    position: relative;
    text-align: right;
}

.portifolio__conteudo h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.portifolio__texto {
    font-size: 1.25rem;
    line-height: normal;
    margin-bottom: .625rem;
}

.portifolio__texto:last-child {
    margin-bottom: 0;
}

.portifolio__link {
    background: linear-gradient(to right, transparent 0%, transparent 50%, rgba(8,191,35,1) 50%, rgba(8,191,35,1) 100%);
    background-size: 201% 100%;
    border: 5px solid rgba(8,191,35,1);
    box-shadow: 7px 7px 0 rgba(8,191,35,1);
    padding: 1rem;
    position: absolute;
    right: 60%;
    text-align: left;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-position 0.5s linear, box-shadow 0.15s linear, transform 0.15s linear;
}

.portifolio__link:hover {
    background-position: 100% 0;
}

.portifolio__link:active {
    box-shadow: 0 0 0 rgba(8,191,35,1);
    transform: translate(calc(-50% + 7px), calc(-50% + 7px));
}


/* Responsivo */


@media screen and (max-width: 991px) {
    .portifolio {
        flex-direction: column;
    }

    .portifolio__conteudo {
        margin-bottom: 25px;
        margin-left: 0;
    }

    .portifolio__link {
        align-self: center;
        padding: 1rem;
        position: relative;
        right: 0;
        text-align: center;
        top: 0;
        transform: none;
        width: 21ch;
    }

    .portifolio__link:active {
        transform: translate(7px, 7px);
    }
}